
/build/
/build/tests
src/sphinxdocrs/build/tests/
#math-demo/sphinxdocrs/imgmath.txt
.pytest_cache
.venv
.coverage
build.log
build.log.ansi
src/.coverage
src/build.log
src/cov.xml
src/coverage.md
src/pytest-results.xml
src/pygmentsrs/fuzz/target/
/target/

/tmp/
/pytest-results.xml
